<?xml version="1.0"?>
<launch>
    <arg name="debug_frame_id" default="map"/>
    <arg name="debug_publish_enabled" default="true"/>
    <arg name="gazebo_world_path" default="$(find legged_gazebo)/worlds/obstacle_world.world"/>

    <node pkg="legged_controllers"
          type="Formation_manager_unified_qp.py"
          name="formation_uqp"
          output="screen">
        <rosparam file="$(find legged_controllers)/scripts/Cbf_params_uqp.yaml"
                  command="load"/>
        <param name="debug_frame_id" value="$(arg debug_frame_id)"/>
        <param name="debug_publish_enabled" value="$(arg debug_publish_enabled)"/>
    </node>

    <node pkg="legged_controllers"
          type="formation_debug_visualizer.py"
          name="formation_debug_visualizer"
          output="screen">
        <param name="debug_frame_id" value="$(arg debug_frame_id)"/>
        <param name="gazebo_world_path" value="$(arg gazebo_world_path)"/>
    </node>
</launch>
