<?xml version="1.0"?>
<launch>
    <arg name="robot_type" default="a1"/>

    <!-- Gazebo World:只需要一個,五隻狗共用一個物理模擬器 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"
             value="$(find legged_gazebo)/worlds/empty_world.world"/>
        <arg name="paused"       value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui"          value="true"/>
    </include>

    <!--
      V 字型編隊座標:
        dog1 (0.0,  3.0)         dog5 (0.0, -3.0)
           dog2 (1.0,  1.5)         dog4 (1.0, -1.5)
                 dog3 (2.0,  0.0)   ← 最前方
    -->
    <include file="$(find legged_unitree_description)/launch/single_dog.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="ns" value="dog1"/>  <arg name="init_x" value="0.0"/>
        <arg name="init_y" value="3.0"/>
    </include>

    <include file="$(find legged_unitree_description)/launch/single_dog.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="ns" value="dog2"/>  <arg name="init_x" value="1.0"/>
        <arg name="init_y" value="1.5"/>
    </include>

    <include file="$(find legged_unitree_description)/launch/single_dog.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="ns" value="dog3"/>  <arg name="init_x" value="2.0"/>
        <arg name="init_y" value="0.0"/>
    </include>

    <!-- <include file="$(find legged_unitree_description)/launch/single_dog.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="ns" value="dog4"/>  <arg name="init_x" value="1.0"/>
        <arg name="init_y" value="-1.5"/>
    </include>

    <include file="$(find legged_unitree_description)/launch/single_dog.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
        <arg name="ns" value="dog5"/>  <arg name="init_x" value="0.0"/>
        <arg name="init_y" value="-3.0"/>
    </include> -->
   
</launch>